<!-- views/partials/header.ejs -->
<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>

<body>
  <h1>TinyApp</h1>
  <% if(!username){%>
  <form class="form-inline" action="/login" method="POST">
    <div>
      <input class="form-control" type="text" name="username" placeholder="Username" style="width: 300px; margin: 1em">
    </div>
    <button type="submit" class="btn btn-primary mb2">Login</button>
  </form>
  <form class="form-inline" action="/register" method="GET">
    <button type="submit" class="btn btn-primary mb2">Register</button>
  </form>
  <%}%>
  <% if(username && username !== undefined){%>
  <form class="form-inline" action="/logout" method="POST">
    <h5>Welcome,&nbsp
      <%= username %>!&nbsp&nbsp</h5>
    <div class="form-group mb-2">
      <button type="submit" class="btn btn-primary mb2">Logout</button>
    </div>
  </form>
  <%}%>
</body>