<!-- views/partials/header.ejs -->
<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>

<body>
  <h1>TinyApp</h1>
  <form class="form-inline" action="/login" method="POST">
    <div class="form-group mb-2">
      <input class="form-control" type="text" name="username" placeholder="Username" style="width: 300px; margin: 1em">
    </div>
    <button type="submit" class="btn btn-primary mb2">Login</button>
  </form>
</body>