<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

  <div class="navbar-header">
    <a class="navbar-brand">
      <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
      <h1>TinyApp</h1>
    </a>
  </div>

</div>
</nav>